{{#get "posts" filter="tags:{{tags.[0].slug}}+id:-{{id}}" limit="3" as |related_posts|}}
{{#if related_posts}}
<!-- Related Post -->
{{#foreach related_posts}}
<ul>
<li><p><a href="{{url}}">{{title}}</a></p></li>
</ul>
{{/foreach}}
<a href="{{@blog.url}}/tag/{{../tags.[0].slug}}/">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} &rarr;</a>
{{/if}}
{{/get}}
